<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.serviceModel>
    <services>
      <service name="Test.ServiceWcf.LoaderService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" binding="basicHttpBinding" bindingNamespace="http://test.com/LoaderService" contract="Test.ServiceWcf.ILoaderService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7890/LoaderService" />
          </baseAddresses>
        </host>
      </service>
      <service name="Test.ServiceWcf.DisplayService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" bindingNamespace="http://test.com/DisplayService" binding="basicHttpBinding" contract="Test.ServiceWcf.IDisplayService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7890/DisplayService" />
          </baseAddresses>
        </host>
      </service>
          <service name="Test.ServiceWcf.FinderService" behaviorConfiguration="ServiceBehavior">
        <endpoint address="" bindingNamespace="http://test.com/FinderService" binding="basicHttpBinding" contract="Test.ServiceWcf.IFinderService"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:7890/FinderService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehavior">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlCeConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="System.Data.SqlServerCe.4.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SqlServerCe.4.0" type="System.Data.Entity.SqlServerCompact.SqlCeProviderServices, EntityFramework.SqlServerCompact" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=MyTestDatabase;Integrated Security=True;MultipleActiveResultSets=True;AttachDBFilename=MyTestDatabase.mdf;User Instance=True" providerName="System.Data.SqlClient" />
    <add name="TestDBCompact" providerName="System.Data.SqlServerCe.4.0" connectionString="Data Source=Test.sdf" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SqlServerCe.4.0" />
      <add name="Microsoft SQL Server Compact Data Provider 4.0" invariant="System.Data.SqlServerCe.4.0" description=".NET Framework Data Provider for Microsoft SQL Server Compact" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </DbProviderFactories>
  </system.data>
</configuration>