<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
 
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ILoaderService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:7890/LoaderService" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_ILoaderService" contract="ServiceReference1.ILoaderService"
        name="BasicHttpBinding_ILoaderService" />
    </client>
  </system.serviceModel>
</configuration>